Repository redhat-openshift-builds/catalog: changes, and which Tekton pipelines are due for each by the changed paths.
All: openshift-builds-fbc-4-12-on-pull-request, openshift-builds-fbc-4-15-on-push, openshift-builds-fbc-4-16-on-pull-request

Path conditions:
  openshift-builds-fbc-4-12-on-pull-request: (any of: fbc/4.12) or (any of: .tekton/openshift-builds-fbc-4-12-pull-request.yaml)
  openshift-builds-fbc-4-15-on-push: (any of: fbc/4.15) or (any of: .tekton/openshift-builds-fbc-4-15-push.yaml)
  openshift-builds-fbc-4-16-on-pull-request: (any of: fbc/4.16) or (any of: .tekton/openshift-builds-fbc-4-16-pull-request.yaml)

Konflux build pipeline service account migration for openshift-builds-fbc-4-16 Signed-off-by: konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/openshift-builds-fbc-4-16-pull-request.yaml
  .tekton/openshift-builds-fbc-4-16-push.yaml
Due: openshift-builds-fbc-4-16-on-pull-request

Konflux build pipeline service account migration for openshift-builds-fbc-4-17 Signed-off-by: konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/openshift-builds-fbc-4-17-pull-request.yaml
  .tekton/openshift-builds-fbc-4-17-push.yaml
Due: none

Konflux build pipeline service account migration for openshift-builds-fbc-4-18 Signed-off-by: konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/openshift-builds-fbc-4-18-pull-request.yaml
  .tekton/openshift-builds-fbc-4-18-push.yaml
Due: none

Add separate SA for taskRun
  .tekton/openshift-builds-fbc-4-12-pull-request.yaml
  .tekton/openshift-builds-fbc-4-12-push.yaml
  .tekton/openshift-builds-fbc-4-13-pull-request.yaml
  .tekton/openshift-builds-fbc-4-13-push.yaml
  .tekton/openshift-builds-fbc-4-14-pull-request.yaml
  .tekton/openshift-builds-fbc-4-14-push.yaml
  .tekton/openshift-builds-fbc-4-15-pull-request.yaml
  .tekton/openshift-builds-fbc-4-15-push.yaml
  .tekton/openshift-builds-fbc-4-16-pull-request.yaml
  .tekton/openshift-builds-fbc-4-16-push.yaml
  .tekton/openshift-builds-fbc-4-17-pull-request.yaml
  .tekton/openshift-builds-fbc-4-17-push.yaml
  .tekton/openshift-builds-fbc-4-18-pull-request.yaml
  .tekton/openshift-builds-fbc-4-18-push.yaml
Due: openshift-builds-fbc-4-12-on-pull-request, openshift-builds-fbc-4-15-on-push, openshift-builds-fbc-4-16-on-pull-request

Add scripts to generate FBC
  Makefile
  README.md
  config.yaml
  description.txt
  icon.svg
  scripts/common.sh
  scripts/error.sh
  scripts/formatting.sh
  scripts/generate.sh
  scripts/install.sh
Due: none

Add catalog for OCP 4.19
  .tekton/openshift-builds-fbc-4-19-pull-request.yaml
  .tekton/openshift-builds-fbc-4-19-push.yaml
  fbc/4.19/Dockerfile
  fbc/4.19/openshift-builds-operator/catalog.yaml
Due: none

Fix dockerfile generation to use builder image from config file
  scripts/generate.sh
Due: none

update catalog for builds-1.4.1 z-stream release
  fbc/4.15/Dockerfile
  fbc/4.15/openshift-builds-operator/catalog.yaml
  fbc/4.16/Dockerfile
  fbc/4.16/openshift-builds-operator/catalog.yaml
  fbc/4.17/Dockerfile
  fbc/4.17/openshift-builds-operator/catalog.yaml
  fbc/4.18/Dockerfile
  fbc/4.18/openshift-builds-operator/catalog.yaml
  fbc/4.19/Dockerfile
  fbc/4.19/openshift-builds-operator/catalog.yaml
Due: openshift-builds-fbc-4-15-on-push, openshift-builds-fbc-4-16-on-pull-request

Add catalog entries for z-stream builds 1.4.1
  fbc/4.12/Dockerfile
  fbc/4.12/openshift-builds-operator/catalog.yaml
  fbc/4.13/Dockerfile
  fbc/4.13/openshift-builds-operator/catalog.yaml
  fbc/4.14/Dockerfile
  fbc/4.14/openshift-builds-operator/catalog.yaml
  fbc/4.15/Dockerfile
  fbc/4.15/openshift-builds-operator/catalog.yaml
  fbc/4.16/Dockerfile
  fbc/4.16/openshift-builds-operator/catalog.yaml
  fbc/4.17/Dockerfile
  fbc/4.17/openshift-builds-operator/catalog.yaml
  fbc/4.18/Dockerfile
  fbc/4.18/openshift-builds-operator/catalog.yaml
  fbc/4.19/Dockerfile
  fbc/4.19/openshift-builds-operator/catalog.yaml
Due: openshift-builds-fbc-4-12-on-pull-request, openshift-builds-fbc-4-15-on-push, openshift-builds-fbc-4-16-on-pull-request

Fix 4.19 pipeline
  .tekton/openshift-builds-fbc-4-19-pull-request.yaml
  .tekton/openshift-builds-fbc-4-19-push.yaml
  config.yaml
Due: none

Fix Dockerfile generation to use a package subdirectory
  scripts/generate.sh
Due: none

Add builds 1.5 catalog entries
  config.yaml
  fbc/4.12/Dockerfile
  fbc/4.15/Dockerfile
  fbc/4.16/Dockerfile
  fbc/4.16/openshift-builds-operator/catalog.yaml
  fbc/4.17/Dockerfile
  fbc/4.17/openshift-builds-operator/catalog.yaml
  fbc/4.18/Dockerfile
  fbc/4.18/openshift-builds-operator/catalog.yaml
  fbc/4.19/Dockerfile
  fbc/4.19/openshift-builds-operator/catalog.yaml
Due: openshift-builds-fbc-4-12-on-pull-request, openshift-builds-fbc-4-15-on-push, openshift-builds-fbc-4-16-on-pull-request

Add catalog entry for builds-1.5.1
  fbc/4.16/openshift-builds-operator/catalog.yaml
  fbc/4.17/openshift-builds-operator/catalog.yaml
  fbc/4.18/openshift-builds-operator/catalog.yaml
  fbc/4.19/openshift-builds-operator/catalog.yaml
Due: openshift-builds-fbc-4-16-on-pull-request

Add catalog entry for builds-1.6
  .tekton/openshift-builds-fbc-4-20-pull-request.yaml
  .tekton/openshift-builds-fbc-4-20-push.yaml
  config.yaml
  fbc/4.16/openshift-builds-operator/catalog.yaml
  fbc/4.17/openshift-builds-operator/catalog.yaml
  fbc/4.18/openshift-builds-operator/catalog.yaml
  fbc/4.19/openshift-builds-operator/catalog.yaml
  fbc/4.20/Dockerfile
  fbc/4.20/openshift-builds-operator/catalog.yaml
Due: openshift-builds-fbc-4-16-on-pull-request

updating bundle and operator for 1.6
  config.yaml
  fbc/4.16/openshift-builds-operator/catalog.yaml
  fbc/4.17/openshift-builds-operator/catalog.yaml
  fbc/4.18/openshift-builds-operator/catalog.yaml
  fbc/4.19/openshift-builds-operator/catalog.yaml
  fbc/4.20/openshift-builds-operator/catalog.yaml
Due: openshift-builds-fbc-4-16-on-pull-request

chore: add bundle for 1.6.1 and 1.5.2 release
  config.yaml
  fbc/4.16/openshift-builds-operator/catalog.yaml
  fbc/4.17/openshift-builds-operator/catalog.yaml
  fbc/4.18/openshift-builds-operator/catalog.yaml
  fbc/4.19/openshift-builds-operator/catalog.yaml
  fbc/4.20/openshift-builds-operator/catalog.yaml
Due: openshift-builds-fbc-4-16-on-pull-request

Add catalog entry for builds-1.6.2
  config.yaml
  fbc/4.16/openshift-builds-operator/catalog.yaml
  fbc/4.17/openshift-builds-operator/catalog.yaml
  fbc/4.18/openshift-builds-operator/catalog.yaml
  fbc/4.19/openshift-builds-operator/catalog.yaml
  fbc/4.20/openshift-builds-operator/catalog.yaml
Due: openshift-builds-fbc-4-16-on-pull-request

feat: add a github action to generate test catalog
  .github/workflows/generate-and-push.yaml
  Makefile
  README.md
Due: none

Added catalog for builds-1.6.3
  config.yaml
  fbc/4.16/openshift-builds-operator/catalog.yaml
  fbc/4.17/openshift-builds-operator/catalog.yaml
  fbc/4.18/openshift-builds-operator/catalog.yaml
  fbc/4.19/openshift-builds-operator/catalog.yaml
  fbc/4.20/openshift-builds-operator/catalog.yaml
Due: openshift-builds-fbc-4-16-on-pull-request

Add catalog entry for builds-1.7
  .tekton/openshift-builds-fbc-4-21-pull-request.yaml
  .tekton/openshift-builds-fbc-4-21-push.yaml
  config.yaml
  fbc/4.16/openshift-builds-operator/catalog.yaml
  fbc/4.17/openshift-builds-operator/catalog.yaml
  fbc/4.18/openshift-builds-operator/catalog.yaml
  fbc/4.19/openshift-builds-operator/catalog.yaml
  fbc/4.20/openshift-builds-operator/catalog.yaml
  fbc/4.21/Dockerfile
  fbc/4.21/openshift-builds-operator/catalog.yaml
Due: openshift-builds-fbc-4-16-on-pull-request

Revert "Added catalog for builds-1.6.3"
  config.yaml
  fbc/4.16/openshift-builds-operator/catalog.yaml
  fbc/4.17/openshift-builds-operator/catalog.yaml
  fbc/4.18/openshift-builds-operator/catalog.yaml
  fbc/4.19/openshift-builds-operator/catalog.yaml
  fbc/4.20/openshift-builds-operator/catalog.yaml
Due: openshift-builds-fbc-4-16-on-pull-request

Revert "Add catalog entry for builds-1.7"
  .tekton/openshift-builds-fbc-4-21-pull-request.yaml
  .tekton/openshift-builds-fbc-4-21-push.yaml
  config.yaml
  fbc/4.16/openshift-builds-operator/catalog.yaml
  fbc/4.17/openshift-builds-operator/catalog.yaml
  fbc/4.18/openshift-builds-operator/catalog.yaml
  fbc/4.19/openshift-builds-operator/catalog.yaml
  fbc/4.20/openshift-builds-operator/catalog.yaml
  fbc/4.21/Dockerfile
  fbc/4.21/openshift-builds-operator/catalog.yaml
Due: openshift-builds-fbc-4-16-on-pull-request

Fix bundle image for builds-1.7
  config.yaml
  fbc/4.16/openshift-builds-operator/catalog.yaml
  fbc/4.17/openshift-builds-operator/catalog.yaml
  fbc/4.18/openshift-builds-operator/catalog.yaml
  fbc/4.19/openshift-builds-operator/catalog.yaml
  fbc/4.20/openshift-builds-operator/catalog.yaml
  fbc/4.21/openshift-builds-operator/catalog.yaml
Due: openshift-builds-fbc-4-16-on-pull-request

Red Hat Konflux purge openshift-builds-fbc-4-12
  .tekton/openshift-builds-fbc-4-12-pull-request.yaml
  .tekton/openshift-builds-fbc-4-12-push.yaml
Due: openshift-builds-fbc-4-12-on-pull-request

Fix catalog for OCPBUGS-76857
  config.yaml
  fbc/4.14/Dockerfile
  fbc/4.14/openshift-builds-operator/catalog.yaml
  fbc/4.15/openshift-builds-operator/catalog.yaml
Due: openshift-builds-fbc-4-15-on-push

Add catalog entry for 1.8.0
  config.yaml
  fbc/4.17/openshift-builds-operator/catalog.yaml
  fbc/4.18/openshift-builds-operator/catalog.yaml
  fbc/4.19/openshift-builds-operator/catalog.yaml
  fbc/4.20/openshift-builds-operator/catalog.yaml
  fbc/4.21/openshift-builds-operator/catalog.yaml
Due: none

Add catalog entries for 1.7.3
  config.yaml
  fbc/4.16/openshift-builds-operator/catalog.yaml
  fbc/4.17/openshift-builds-operator/catalog.yaml
  fbc/4.18/openshift-builds-operator/catalog.yaml
  fbc/4.19/openshift-builds-operator/catalog.yaml
  fbc/4.20/openshift-builds-operator/catalog.yaml
  fbc/4.21/openshift-builds-operator/catalog.yaml
Due: openshift-builds-fbc-4-16-on-pull-request

[BUILD-2091] Add agent context files and skills
  .claude/skills
  AGENTS.md
  CLAUDE.md
  skills/create-pr/SKILL.md
Due: none

Add builds-1.8 to OCP 4.22 catalog
  .tekton/openshift-builds-fbc-4-22-pull-request.yaml
  .tekton/openshift-builds-fbc-4-22-push.yaml
  config.yaml
  fbc/4.22/Dockerfile
  fbc/4.22/openshift-builds-operator/catalog.yaml
Due: none

Add catalog entries for 1.8.1 (#97)
  config.yaml
  fbc/4.17/openshift-builds-operator/catalog.yaml
  fbc/4.18/openshift-builds-operator/catalog.yaml
  fbc/4.19/openshift-builds-operator/catalog.yaml
  fbc/4.20/openshift-builds-operator/catalog.yaml
  fbc/4.21/openshift-builds-operator/catalog.yaml
  fbc/4.22/openshift-builds-operator/catalog.yaml
Due: none

Add catalog entries for 1.9.0
  config.yaml
Due: none

Add catalog entries for build-1.9
  Makefile
  config.yaml
  fbc/4.18/openshift-builds-operator/catalog.yaml
  fbc/4.19/openshift-builds-operator/catalog.yaml
  fbc/4.20/openshift-builds-operator/catalog.yaml
  fbc/4.21/openshift-builds-operator/catalog.yaml
  fbc/4.22/openshift-builds-operator/catalog.yaml
Due: none

Add catalog entries for build-1.9 (#99)
  Makefile
  config.yaml
  fbc/4.18/openshift-builds-operator/catalog.yaml
  fbc/4.19/openshift-builds-operator/catalog.yaml
  fbc/4.20/openshift-builds-operator/catalog.yaml
  fbc/4.21/openshift-builds-operator/catalog.yaml
  fbc/4.22/openshift-builds-operator/catalog.yaml
Due: none

chore: add catalog for 1.9.1 and 1.8.2
  config.yaml
  fbc/4.17/openshift-builds-operator/catalog.yaml
  fbc/4.18/openshift-builds-operator/catalog.yaml
  fbc/4.19/openshift-builds-operator/catalog.yaml
  fbc/4.20/openshift-builds-operator/catalog.yaml
  fbc/4.21/openshift-builds-operator/catalog.yaml
  fbc/4.22/openshift-builds-operator/catalog.yaml
Due: none
